RewriteEngine On
RewriteCond %{HTTP_HOST} ^couchidee\.com$
RewriteRule ^(.*)$ http://www.couchidee.com/$1 [R=301,L]

RedirectPermanent /analyse/analyse-und-tracking/ https://www.couchidee.com/posts/analyse-tracking/
RedirectPermanent /cro/conversion-optimierung-checkliste/ https://www.couchidee.com/posts/conversion-optimierung-checkliste/
RedirectPermanent /cro/conversion-optimierung-website-grundlagen/ https://www.couchidee.com/posts/conversion-optimierung-grundlagen/
RedirectPermanent /cro/conversion-rate-testing/ https://www.couchidee.com/posts/conversion-rate-testing/
RedirectPermanent /cro/cro-definition-begriffserklarung/ https://www.couchidee.com/posts/cro-begriffe-erklärt/
RedirectPermanent /cro/event-und-conversion-tracking/ https://www.couchidee.com/posts/event-conversion-tracking/
RedirectPermanent /cro/macro-micro-offline-conversion/ https://www.couchidee.com/posts/macro-micro-conversion/
RedirectPermanent /e-mail-marketing/e-mail-marketing/ https://www.couchidee.com/posts/email-marketing/
RedirectPermanent /linux/homeserver-mit-ubuntu-einrichten/ https://www.couchidee.com/posts/ubuntu-homeserver-intall-konfig/
RedirectPermanent /linux/linux-befehle-und-hilfe-verwenden/ https://www.couchidee.com/posts/linux-befehle-hilfe/
RedirectPermanent /linux/linux-dateien-und-verzeichnisse/ https://www.couchidee.com/posts/linux-dateien-verzeichnisse/
RedirectPermanent /marketing-strategie/4ps-im-online-marketing-mix/ https://www.couchidee.com/posts/om-mix-4ps/
RedirectPermanent /marketing-strategie/corporate-blog/ https://www.couchidee.com/posts/corporate-blog/
RedirectPermanent /marketing-strategie/digitale-assets/ https://www.couchidee.com/posts/digitale-assets/
RedirectPermanent /marketing-strategie/kanaele-und-gruppierungen/ https://www.couchidee.com/posts/kanaele-gruppierungen/
RedirectPermanent /marketing-strategie/markenkommunikation/ https://www.couchidee.com/posts/markenkommunikation/
RedirectPermanent /marketing-strategie/push-pull-marketing/ https://www.couchidee.com/posts/pull-push-marketing/
RedirectPermanent /marketing-strategie/seo-strategie/ https://www.couchidee.com/posts/seo-strategie/
RedirectPermanent /marketing-strategie/starke-digitale-marke/ https://www.couchidee.com/posts/digitale-marke/
RedirectPermanent /marketing-strategie/strategie-entlang-der-customer-journey/ https://www.couchidee.com/posts/strategie-customer-journey/
RedirectPermanent /marketing-strategie/strategie-und-taktik-im-marketing/ https://www.couchidee.com/posts/strategie-taktik-marketing/
RedirectPermanent /marketing-strategie/swot-analyse/ https://www.couchidee.com/posts/swot-analyse/
RedirectPermanent /marketing-strategie/zielgruppendefinition-und-analyse/ https://www.couchidee.com/posts/zielgruppendefinition-analyse/
RedirectPermanent /marketing/definition-online-marketing/ https://www.couchidee.com/
RedirectPermanent /marketing/display-advertising/ https://www.couchidee.com/posts/display-advertising/
RedirectPermanent /marketing/grundlagen-affiliate-marketing/ https://www.couchidee.com/posts/affiliate-marketing/
RedirectPermanent /python/basics/ https://www.couchidee.com/posts/python-grundlagen/
RedirectPermanent /python/dateien-einlesen/ https://www.couchidee.com/posts/python-dateien-oeffnen-einlesen/
RedirectPermanent /python/dateien-oeffnen/ https://www.couchidee.com/posts/python-dateien-oeffnen-einlesen/
RedirectPermanent /python/dateien-und-pfade/ https://www.couchidee.com/posts/python-dateien-pfade/
RedirectPermanent /python/datenstrukturen-in-python/ https://www.couchidee.com/posts/python-datenstrukturen/
RedirectPermanent /python/dictionaries-in-python/ https://www.couchidee.com/posts/python-dictionaries/
RedirectPermanent /python/dictionary-csv-auslesen/ https://www.couchidee.com/posts/python-dictionaries/
RedirectPermanent /python/einfacher-bmi-rechner-mit-python/ https://www.couchidee.com/posts/python-tool-bmi/
RedirectPermanent /python/exceptions/ https://www.couchidee.com/posts/python-exceptions/
RedirectPermanent /python/funktionen/ https://www.couchidee.com/posts/python-funktionen/
RedirectPermanent /python/input/ https://www.couchidee.com/posts/python-umlaute-input/
RedirectPermanent /python/listen-verschachteln/ https://www.couchidee.com/posts/python-listen/
RedirectPermanent /python/listen/ https://www.couchidee.com/posts/python-listen/
RedirectPermanent /python/lottozahlen-generator/ https://www.couchidee.com/posts/python-tool-lottozahlen-generator/
RedirectPermanent /python/objektorientierung/ https://www.couchidee.com/posts/python-objektorientierung/
RedirectPermanent /python/queue-und-priority-queue/ https://www.couchidee.com/python-queue-priority-queue/
RedirectPermanent /python/string-funktionen/ https://www.couchidee.com/posts/python-strings/
RedirectPermanent /python/strings-formatieren/ https://www.couchidee.com/posts/python-strings/
RedirectPermanent /python/umlaute/ https://www.couchidee.com/posts/python-umlaute-input/
RedirectPermanent /python/vererbung/ https://www.couchidee.com/posts/python-objektorientierung/
RedirectPermanent /sea/sea-kampagnen-kennzahlen-begriffe/ https://www.couchidee.com/posts/sea-kennzahlen-begriffe/
RedirectPermanent /seo/content-seo/ https://www.couchidee.com/posts/content-seo/
RedirectPermanent /seo/content-und-offpage-marketing/ https://www.couchidee.com/posts/content-offpage-marketing/
RedirectPermanent /seo/crawling-indexierung/ https://www.couchidee.com/posts/verlinkung-crawling-indexierung/
RedirectPermanent /seo/onpage-seo/ https://www.couchidee.com/posts/onpage-seo/
RedirectPermanent /seo/rankingfaktoren/ https://www.couchidee.com/
RedirectPermanent /seo/seo-grundlagen-urls-statuscodes/ https://www.couchidee.com/posts/seo-grundlagen-url-statuscodes/
RedirectPermanent /seo/suchanfragen-serps-snippets/ https://www.couchidee.com/posts/suchanfragen-serps-snippets/
RedirectPermanent /seo/von-der-suchanfrage-zur-conversion/ https://www.couchidee.com/posts/suchanfrage-conversion/
RedirectPermanent /seo/was-ist-seo/ https://www.couchidee.com/
RedirectPermanent /social-media/social-media-grundlagen-stichpunkte/ https://www.couchidee.com/posts/social-media-stichpunkte/
RedirectPermanent /social-media/social-media-strategie/ https://www.couchidee.com/posts/social-media-strategie/
RedirectPermanent /webentwicklung/jekyll-admin-plugin-installieren/ https://www.couchidee.com/posts/jekyll-admin-plugin/
RedirectPermanent /webentwicklung/jekyll-blog-erstellen/ https://www.couchidee.com/posts/jekyll-blog-erstellen/
RedirectPermanent /webentwicklung/jekyll-cookie-consent-implementieren/ https://www.couchidee.com/posts/jekyll-cookie-consent/
RedirectPermanent /webentwicklung/jekyll-installieren/ https://www.couchidee.com/posts/jekyll-linux-installieren-projekt-anlegen/
RedirectPermanent /webentwicklung/jekyll-unter-windows-installieren/ https://www.couchidee.com/posts/jekyll-windows-installieren/
RedirectPermanent /webentwicklung/jekyll-website-einrichten/ https://www.couchidee.com/posts/jekyll-webseite-template-einrichten/
